# -------------------------------------------------------------------------------------------------------------------------
# COUPON SERVICE MYSQL
# -------------------------------------------------------------------------------------------------------------------------
COUPON_SERVICE_MYSQL_DB_HOST=coupon-mysql
COUPON_SERVICE_MYSQL_DB_NAME=coupon_db
COUPON_SERVICE_MYSQL_DB_USER=
COUPON_SERVICE_MYSQL_DB_PASSWORD=
COUPON_SERVICE_MYSQL_DB_ROOT_PASSWORD=
COUPON_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=256M
COUPON_SERVICE_MYSQL_MAX_CONNECTIONS=200

# -------------------------------------------------------------------------------------------------------------------------
# COUPON SERVICE
# -------------------------------------------------------------------------------------------------------------------------
COUPON_SERVICE_PORT=8080
